<header>
    <div class="navbar navbar-dark bg-dark">
      <div class="navbar-brand align-item-center d-flex">
        <i style="font-size: 3rem;" class="fa fa-wpexplorer">
        </i>
        <strong style="font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif;padding-left:1rem;padding-top: 0.5rem;">
            IAS SHOPPING
          </strong>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Busca tus productos"> 
        </div>
        <span class="fa fa-search search-icon"></span>
      </div>
      <button class="btn btn-secondary btn-lg ">
        <i style="font-size: 40px;" class="fa fa-shopping-cart"></i>
        <div style="font-size:20px;color:white;" class="badge g-danger">5</div>
      </button>
    </div>
  </header>